<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome to M3 Loan</h1>
    <p class="lead">A micro-financing service for the under-server.</p>
    <br><br>
    <a class="btn btn-light" href="/register" role="button">Register</a>
    <a class="btn btn-dark" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
