<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <style>
            table, th, td {
              border: none;
              padding: 10px;
            }
            table.center{
              margin-left: auto;
              margin-right: auto;
            }
          </style>

          <form action="/login" method="POST" name="login">
            <div class="form-group">
              <Table>
                <tr>
                  <td><label for="NRIC">NRIC</label></td>
                  <td><input type="text" pattern="[A-Z]{1}[0-9]{7}[A-Z]{1}" class="form=control" name="nric" required autocomplete="off"></td>
                </tr>
                <tr>
                  <td><label for="Password">Password</label></td>
                  <td><input type="password" class="form=control" name="password"></td>
                </tr>
              </Table>
              <br>
              <button type="submit" class="btn btn-dark" onClick="return checkInput()">Login</button>
              <button type="submit" class="btn btn-dark" name="reset" value="reset">Reset Password</button>
              <Strong><p style="color: red"><%=STATUS%></p></Strong>
            </div>
          </form>

          <script type="text/javascript">
            function checkInput()
            {
              var passwordValue = document.login.password.value;
              if (passwordValue == "") {
                alert("Invalid password");
                return false;
              }
            }
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>